.tillContainer {
    background-color: brown;
    height: inherit;
    display: flex;
    justify-content: center;
}

.cropper {
    position: relative;
    flex: 1;
    overflow: hidden;
}

.cropper img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.name {
    z-index: 1;
    font-size: 100%;
    position: absolute;
}