<div class="page">
    <form #pageForm="ngForm">
        <div class="row">
            <div class="col-sm-6">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Name</span>
                    </div>
                    <input id="name" name="name" [(ngModel)]="page.name" #name="ngModel" required type="text" class="form-control" placeholder="Page Name">
                    <div class="input-group-append" *ngIf="name.invalid">
                        <span class="input-group-text" ngbPopover="The name is required for a page." triggers="mouseenter:mouseleave">
                            <i class="fas fa-exclamation-triangle"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">X Rows</span>
                    </div>
                    <input id="xrows" name="xrows" required [(ngModel)]="page.xrows" (input)="changeRows(xrows.value,yrows.value)" #xrows="ngModel" required type="number" class="form-control" placeholder="Numbers of columns">
                    <div class="input-group-append" *ngIf="xrows.invalid">
                        <span class="input-group-text" ngbPopover="The number of rows is required for a page." triggers="mouseenter:mouseleave">
                            <i class="fas fa-exclamation-triangle"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Y Rows</span>
                    </div>
                    <input id="yrows" name="yrows" required [(ngModel)]="page.yrows" (input)="changeRows(xrows.value,yrows.value)" #yrows="ngModel" required type="number" class="form-control" placeholder="Numbers of Rows">
                    <div class="input-group-append" *ngIf="yrows.invalid">
                        <span class="input-group-text" ngbPopover="The number of rows is required for a page." triggers="mouseenter:mouseleave">
                            <i class="fas fa-exclamation-triangle"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div>
            Product Associations
            <br>
            <div class="tillView">
                <div *ngFor="let row of productArray; let y = index" class="tillRow">
                    <div *ngFor="let product of row; let x = index" class="item">
                        <div *ngIf="product" style="height: 100%;">
                            <button class="btn btn-dark " style="z-index: 1; position: absolute; " (click)="removeItem(x,y)">X</button>
                            <app-tillbutton style="height: 100%; " [product]="product " [isCreation]="false"></app-tillbutton>
                        </div>
                        <button *ngIf="!product" class="btn-primary " style="height: 100%; width: 100%; " (click)="openProductAssociationModal(content, x, y) "><i class="fas fa-plus "></i></button>
                    </div>
                </div>
            </div>

        </div>
    </form>

    <br>

    <div style="text-align: right;">
        <button type="button" class="btn btn-dark" (click)="createPage()" style="margin-right: 10px;" [disabled]="pageForm.invalid" *ngIf="!isEdit">Create Page</button>
        <button type="button" class="btn btn-dark" (click)="savePage()" style="margin-right: 10px;" [disabled]="pageForm.invalid" *ngIf="isEdit">Save Page</button>
        <button type="button" class="btn btn-secondary" (click)="cancel()">Cancel</button>
    </div>


</div>



<ng-template #content let-modal>
    <div class="modal-header ">
        <h4 class="modal-title " id="modal-basic-title ">Product Association</h4>
        <button type="button " class="close " aria-label="Close " (click)="modal.dismiss() ">
        <span aria-hidden="true ">&times;</span>
      </button>
    </div>
    <div class="modal-body ">
        <form>
            <div class="form-group ">
                <label for="group ">Product Group</label>
                <div class="input-group ">
                    <select id="group " class="form-control " #groupSelector [(ngModel)]="selectedGroup " name="selectedGroup " (ngModelChange)="groupSelected() ">
                        <option *ngFor="let group of groups " [ngValue]="group ">{{group.name}}</option>
                    </select>
                </div>
                <label for="product ">Product</label>
                <div class="input-group ">
                    <select id="product " class="form-control " #product [(ngModel)]="selectedProduct " name="selectedProduct ">
                        <option *ngFor="let product of selectedGroup.products " [ngValue]="product ">{{product.name}}</option>
                    </select>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer ">
        <button type="button " class="btn btn-outline-dark " [disabled]="selectedGroup.products.length==0 || selectedProduct=={ } " (click)="modal.close( 'save') ">Save</button>
    </div>
</ng-template>