<div class="tableContainer" id="tableContainer">
    <table class="table table-striped">
        <tr *ngFor="let transaction of receiptService.activeTransactions; let i = index">
            <td>{{transaction.product.name}}</td>
            <td>{{transaction.quantity}}x</td>
            <td>£{{transaction.price | number : '1.2'}}</td>
            <button type="button" class="btn btn-dark" (click)="remove(i)">-</button>
        </tr>
    </table>
</div>

<div>
    <div class="total">{{receiptService.runningTotal >= 0 ? 'Total' : 'Change'}}: £{{receiptService.runningTotal | number : '1.2'}} <span class="quantity">{{receiptService.quantity}}</span></div>
</div>