<div [ngClass]="sidebar.isSidebarEnabled ? 'mainShown' : 'mainHidden'">
    <button class="btn btn-dark" [ngClass]="sidebar.burgerIconHidden ? 'sidebarButtonShown' : 'sidebarButtonHidden'" (click)="sidebar.toggleSideBar()"><i class="fas fa-bars"></i></button>

    <div class="routerOutput">
        <router-outlet></router-outlet>
    </div>

</div>


<!-- Side bar-->
<div class="container">

    <div [ngClass]="sidebar.isSidebarEnabled ? 'sidebarShown' : 'sidebarHidden'">
        <button class="btn btn-dark" style="float: right" (click)="sidebar.toggleSideBar()"><i class="fas fa-bars"></i></button>


        <div class="navbaritem">
            <a [routerLink]="['dashboard']" [routerLinkActive]="['active-link']">
                <i class="fa fa-tachometer" aria-hidden="true"></i> Dashboard
            </a>
        </div>

        <div class="navbaritem">
            <a [routerLink]="['define']" [routerLinkActive]="['active-link']">
                <i class="fa fa-edit" aria-hidden="true"></i> Definition
            </a>
        </div>

        <div class="navbaritem">
            <a [routerLink]="['till']" [routerLinkActive]="['active-link']">
                <i class="fas fa-piggy-bank"></i> Till
            </a>
        </div>

        <div class="navbarbottom">
            <div class="navbaritem">
                <a [routerLink]="['account']" [routerLinkActive]="['active-link']">
                    <i class="fas fa-user"></i> Update Account
                </a>
            </div>

            <div class="navbaritem">
                <a (click)="logout()" href="#">
                    <i class="fas fa-sign-out-alt"></i> Sign out
                </a>
            </div>
        </div>

    </div>
</div>


<app-toaster></app-toaster>