<div class="page">
    <form #groupForm="ngForm">
        <div class="row">
            <div class="col-sm">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Group Name</span>
                    </div>
                    <input id="name" name="name" required [(ngModel)]="group.name" #name="ngModel" required type="text" class="form-control" placeholder="Group Name">
                    <div class="input-group-append" *ngIf="name.invalid">
                        <span class="input-group-text" ngbPopover="The group name is required." triggers="mouseenter:mouseleave">
                            <i class="fas fa-exclamation-triangle"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </form>
    <div style="text-align: right;">
        <button type="button" class="btn btn-dark" (click)="createGroup()" style="margin-right: 10px;" [disabled]="groupForm.invalid" *ngIf="!isEdit">Create Group</button>
        <button type="button" class="btn btn-dark" (click)="saveChanges()" style="margin-right: 10px;" [disabled]="groupForm.invalid" *ngIf="isEdit">Save Group</button>
        <button type="button" class="btn btn-secondary" (click)="cancel()">Cancel</button>
    </div>
</div>