<div class="page">

    <div class="sticky-top">
        <button type="button" class="btn btn-dark" style="margin-right: 10px;">Create Group</button>
        <button type="button" class="btn btn-dark" (click)="createProduct()">Create Product</button>
    </div>

    <p style="text-align: center; font-size: 30px;">Products Groups</p>

    <br>

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">System</th>
                <th scope="col">Product Count</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let group of groups">
                <td>{{group.id}}</td>
                <td>{{group.name}}</td>
                <td><i class="fas fa-check" *ngIf="group.system"></i></td>
                <td>{{group.products.length}}</td>
                <td><i class="far fa-edit" *ngIf="!group.system"></i></td>
                <td><i class="far fa-trash-alt" *ngIf="!group.system"></i></td>

            </tr>
        </tbody>
    </table>

    <br>

    <p style="text-align: center; font-size: 30px;">Products</p>

    <br>

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Info</th>
                <th scope="col">Price</th>
                <th scope="col">Image</th>
                <th scope="col">Group</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products">
                <td>{{product.id}}</td>
                <td>{{product.name}}</td>
                <td>{{product.info}}</td>
                <td>{{product.price}}</td>
                <td>image?</td>
                <td>{{product.group.name}}</td>
                <td><i class="far fa-edit"></i></td>
                <td><i class="far fa-trash-alt"></i></td>
            </tr>
        </tbody>
    </table>


</div>